@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html {
	--primary-color: #2A2A3C;
	--shadow-color: #808080;
	--accent-color: #B7B7CD;

	min-height: 100vh;

	font-size: 8px;

	background-color: var(--primary-color);
}

body {
	height: 100vh;

	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
}

header {
	padding: 8rem;

	font-family: 'Italianno', cursive;
	font-size: 8rem;
	text-align: center;

	color: white;
}

main {
	max-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

footer {
	padding: 12rem;

	font-family: 'Italianno', cursive;
	font-size: 2.5rem;
	text-align: center;

	color: white;
	
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
}

a {
	text-decoration: none;
	color: var(--accent-color);
}

.octaves {
	white-space: nowrap;
}

/* OCTAVE */
.octave {
  padding: 1em 2em;

  border: 1px solid black;
  border-radius: 5px;

	box-shadow: 0 6px 0 0 var(--shadow-color);
  background-color: white;

	cursor: pointer;
	transition: transform .05s ease, box-shadow .05s ease;
}

.oclick {
	box-shadow: none;
	transform: translateY(6px);
}

.octave:not(.oclick):hover {
	box-shadow: 0 6px 0 0 var(--accent-color);
}

/* PIANO */
.piano {
	height: 30vh;
	white-space: nowrap;
}

.pkey {
  border: 1px solid black;
  border-radius: 5px;

	box-shadow: 0 12px 0 0 var(--shadow-color);

	cursor: pointer;
	position: relative;

	transition: transform .1s ease, box-shadow .1s ease;
}

.white {
  padding: 3em;

  height: 100%;

	color: black;
  background-color: white;
}

.white:hover {
	box-shadow: 0 12px 0 0 var(--accent-color);
}

.white.pclick {
	box-shadow: none;
	transform: translateY(12px);
}


.white > p {
	position: absolute;
	right: calc((100% / 2) - .5ch);
	bottom: 20%;
}

.black {
  padding: 2em;

  height: 15vh;

	color: white;
  background-color: black;

  position: absolute;
	z-index: 1;

  transform: translate(-30px, -12px);
}

.black:hover {
	box-shadow: 0 12px 0 0 var(--accent-color);
}

.black.pclick {
	box-shadow: none;
	transform: translate(-30px, 2px);
}

.black > p {
	position: absolute;
	right: calc(100% / 3);
	bottom: 20%;
}

@media only screen and (max-width: 600px) {
	footer {
		flex-direction: column;
	}
}
